
.table_wrapper {
   margin-top: 45px;
   padding: 0px 8px;
}

.printBtn {
   position: fixed;
   right: 10px;
   bottom: 0px;
   font-size: 12px;
   min-width: 70px;
   background-color: gray;
   font-weight: 500;
}

.progress_wrapper {
   margin: 10px;
   max-width: 97%;
   margin-left: auto;
   color: rgb(233, 233, 233);
}

.progressBar {
   overflow: hidden;
   width: 100%;
   height: 20px;
   background-color: #d7d7d7;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px solid white;
 }
 
 .progress {
   height: 100%;
   border-radius: 10px;
   background-color: #4caf50;
   width: 0;
   transition: width 0.5s ease-in-out;
 }

 .progressLabel {
   font-weight: 500;
   text-align: right;
 }
 