.table_container {
   overflow-y: auto;
   overflow-x: hidden;
   position: relative;
   width: 100%;
   overflow-x: auto;
   padding-right: 5px;

   @media print {
      table {
         th,
         td {
            font-size: 13px;
         }
      }
   }
   // min-height: 48vh;
   // max-height: 70dvh;

   // &::-webkit-scrollbar {
   //    height: 7px;
   //    width: 4px;
   // }

   // &::-webkit-scrollbar-thumb {
   //    background-color: rgb(195, 195, 195);

   //    &:hover {
   //       background-color: rgb(219, 219, 219);
   //    }
   // }

   // &::-webkit-scrollbar-button {
   //    display: block !important;
   //    height: 45px;
   // }

   // &::-webkit-scrollbar-button:end {
   //    display: none !important;
   // }
}

.minWidth {
   td {
      min-width: 150px;
   }
}

.table {
   border-collapse: collapse;
   width: 100%;
   position: relative;
   border-spacing: 10px;

   td {
      position: relative;
      border: solid 1px transparent;
      min-width: 110px;
      border-style: solid none;
      padding: 10px;
      background-color: transparent;
   }

   td:first-child {
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
   }

   td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
   }
}

.rating_wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
}

.header {
   z-index: 10;
}

.rowOdd {
   background-color: rgba(255, 255, 255, 0.05);
   border-top: 1px solid #37383a;
   border-bottom: 1px solid #37383a;

   border-top: 1px solid #37383a;
   border-bottom: 1px solid #37383a;
}

.cellContent {
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
}

.thead {
   font-size: 14px;

   tr {
      text-transform: capitalize;
      text-align: left;

      th {
         padding-right: 10px;

         position: sticky;

         top: 0;
         z-index: 20;
         background-color: #2a7c6f;

         color: white;

         &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 0;
            height: 50%;
            border-right: 1px solid white;
         }

         &:last-child::after {
            border-right: none;
         }
      }
   }

   th {
      padding: 1rem;
   }
}

.tbody {
   tr {
      position: relative;

      td {
         position: relative;
         padding: 1rem;
         font-size: 14px;

         &::first-letter {
            text-transform: capitalize;
         }
      }
   }
}

.clickable {
   cursor: pointer;
}

.few_items {
   span {
      margin-left: 5px;
   }
}

.title {
   width: 100%;
   text-align: center;
   font-weight: 600;
   padding-left: 15px;
   font-size: 22px;
   padding: 20px;
   padding-bottom: 42px;
   display: inline-block;
   text-transform: uppercase;
   border-bottom: 1px solid #f7f9e1;
   margin-bottom: 20px;
}

.checkbox_wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.req_img {
   filter: brightness(0) invert(1);
   width: 15px;
   height: 15px;
   object-fit: cover;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto 0;
}

.optional_cehckbox_wrapper {
   text-align: left;
   position: relative;
   padding-top: 10px;
   padding-left: 30px;
   left: -10px;
   top: 0;
   bottom: 0;
   margin: auto 0;
}

.skip {
   cursor: pointer;
   text-decoration: underline;
}

.hidden {
   background-color: rgba(128, 128, 128, 0.436);
}

.crossed {
   text-decoration: line-through;
}

.link {
   bottom: 0;
   font-size: 16px;
   font-weight: 500;
   left: 25%;
   z-index: 10;
   width: 400px;
   position: absolute;
   top: 30%;
}
